@font-face {
    font-family: 'MinionProSemibold';
    src: url('../fonts/minionpro-semibold-webfont.eot');
    src: url('../fonts/minionpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/minionpro-semibold-webfont.woff') format('woff'),
         url('../fonts/minionpro-semibold-webfont.ttf') format('truetype'),
         url('../fonts/minionpro-semibold-webfont.svg#MinionProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionProRegular';
    src: url('../fonts/minionpro-regular-webfont.eot');
    src: url('../fonts/minionpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/minionpro-regular-webfont.woff') format('woff'),
         url('../fonts/minionpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/minionpro-regular-webfont.svg#MinionProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}