﻿.shortNews a {background:none;padding:0;}
.topMenu a {float:left;position:relative;}
.lang a:hover {text-decoration:underline;}
ul.paging li {display:inline;}
ul.paging li.prev a, ul.paging li.next a {font-size:0;text-indent:0;}
.content button {padding:3px 30px 4px;}