﻿/* Reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;}
a img {border:0;}
table {border-collapse:collapse;border-spacing:0;}
ol, ul {list-style:none;}
q:before, q:after, blockquote:before, blockquote:after {content:"";}
input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner {padding:0;border:0;}

/* Site styles */
body {font:13px Arial;color:#000;background:#fff;}
body.inside {background:#fff url("../i/bg-top-inside.gif") repeat-x 0 0;}
a {text-decoration:underline;color:#7f6751;}
a:hover {text-decoration:none;}


/* Header */
	
		.sliderFadeLeft {position:absolute;bottom:0;left:50%;width:100px;height:386px;z-index:8;margin:0 0 0 -640px;background:url("../i/slider-fade-left.png") no-repeat 0 0;}
		.sliderFadeRight {position:absolute;bottom:0;right:50%;width:100px;height:386px;z-index:8;margin:0 -640px 0 0;background:url("../i/slider-fade-right.png") no-repeat 0 0;}
		
/* Content */
.indexContainer {zoom:1;background:url("../i/index-container.png") repeat-y 0 0;max-width:1280px;margin:0 auto;}
.indexContainer:after {clear:both;content:'';display:block;}
	.indexContainer .sidebar {float:left;width:350px;padding:62px 0 20px 54px;}
		.imgBox {border:1px solid #dad5cd;background:#ece7e0;padding:7px;display:block;position:relative;text-decoration:none;margin:0 0 26px;}
			.imgBox img {vertical-align:top;}
			.imgBox span {position:absolute;right:7px;bottom:20px;background:url("../i/imgbox-bg.png");padding:10px 18px;color:#3e3e3e;font:12px "MinionProSemibold", "Times New Roman";text-transform:uppercase;cursor:pointer;width:60%;}
			.imgBox:hover span {color:#000;}
	.partners {border-top:2px solid #d6cbc0;border-bottom:2px solid #d6cbc0;font:12px Arial;color:#a19a93;margin:0 0 26px;}
		.partners th {padding:12px 10px 8px;vertical-align:top;text-align:center;}
		.partners td {padding:10px 0 10px 10px;vertical-align:top;}
	.indexContainer .contentOuter {float:right;margin-left:-455px;width:100%;}
	.indexContainer .content {margin:0 0 0 455px;padding:33px 65px 0 50px;}
		.newsTitle {color:#554f49;font:25px Arial;border-bottom:2px solid #8f8a86;margin:0 0 20px;padding:0 0 3px;}
			.newsTitle a {color:#554f49;text-decoration:none;}
			.newsTitle a:hover {color:#c09859;text-decoration:none;}
		.shortNews {padding:0 0 20px 78px;position:relative;}
			.shortNews .date {color:#b4b4b4;font:10px Arial;top:2px;left:0;border-left:1px solid #b4b4b4;border-right:1px solid #b4b4b4;position:absolute;padding:0 5px;}
			.shortNews h4 {font:14px Arial;}
				.shortNews a {color:#5b5b5b;text-decoration:none;background:url("../i/shortnews-arrow.png") no-repeat 100% 50%;padding:0 17px 0 0;}
				.shortNews a:hover {color:#c09756;}
		.archLinkWrap {border-top:2px solid #8f8a86;padding:8px 0 0;margin:0 0 20px;text-align:right;}
			.archLinkWrap a {color:#7e7469;text-decoration:none;background:url("../i/archive-link.png") no-repeat 0 3px;padding:0 0 0 10px;}
			.archLinkWrap a:hover {text-decoration:underline;}
.container {zoom:1;background:url("../i/container-bg.gif") repeat-y 294px 0;padding:0 0 30px;}
.container:after {clear:both;content:'';display:block;}
	.container .sidebar {float:left;padding:0 27px 0 30px;background:url("../i/container-sidebar.png") no-repeat 100% 0;width:260px;}
		.leftNav {border:1px solid #dad5cd;background:#ede8e0;padding:14px 0;margin:0 0 23px;}
			.leftNav .currentPart {background:#7f6751;color:#fff;font:bold 18px Arial;padding:6px 20px;float:left;margin:0 0 14px;}
			.leftNav ul {font:17px Arial;clear:both;}
				.leftNav ul a {display:block;color:#535252;text-decoration:none;background:url("../i/leftnav-bullet.png") no-repeat 21px 12px;padding:4px 20px 4px 34px;}
				.leftNav ul a:hover {background-color:#d8d3cb;}
				.leftNav ul li.current a {background-color:#c9c3bb;}
		.partnersTitle {color:#897562;font:14px Arial;color:#897562;text-align:center;margin:0 0 10px;}
		.partners2 {border-top:2px solid #d6cbc0;border-bottom:2px solid #d6cbc0;font:12px Arial;color:#a19a93;margin:0 0 26px;padding:15px 25px 0;}
			.partners2 dt {margin:0 0 6px;}
			.partners2 dd {margin:0 0 18px;}
		.tags {margin:0 0 23px;border:1px solid #d9d4cd;background:#fff;padding:10px 20px 16px;font:12px/20px Arial;}
			.tags a {color:#7f6751;margin:0 10px 0 0;}
			.tags .caption {overflow:hidden;margin:0 0 10px -20px;font:16px Arial;}
				.tags .caption span {float:left;background:#7f6751;padding:4px 15px 5px 20px;color:#fff;}
	.container .contentOuter {width:100%;float:right;margin-left:-355px;}
	.container .content {margin:0 0 0 355px;padding:0 40px 0 0;color:#494949;font:15px Arial;}
		.container .content h1 {color:#44270c;font:50px/50px Georgia;margin:0 0 15px;}
		.container .content h2 {color:#7f6751;font:32px/36px Georgia;margin:0 0 15px;}
		.container .content h3 {color:#7f6751;font:26px/32px Georgia;margin:0 0 15px;}
		.container .content h4 {color:#494949;font:bold 16px Arial;margin:0 0 10px;}
		.container .content p {margin:0 0 18px;}
		.container .content ol {margin:0 0 18px 30px;list-style:decimal;font:13px/18px Arial;}
			.container .content ol li {margin:0 0 4px;}
		.container .content ul {margin:0 0 18px 14px;font:13px/18px Arial;}
			.container .content ul li {padding:0 0 0 16px;background:url("../i/content-bullet.png") no-repeat 0 6px;margin:0 0 4px;}
		.container .content blockquote {margin:0 0 30px;font:34px/40px "MinionProRegular", "Times New Roman";color:#7f6751;}
			.container .content blockquote p {display:inline;background:#ede8e1;}
		.imgl {float:left;margin:0 20px 5px 0;}
		.imgr {float:right;margin:0 0 5px 20px;}
		img.bordered {border:1px solid #dcd8d1;padding:5px;background:#eae5de;}
		.tbl {width:100%;font:13px Arial;margin:0 0 25px;}
			.tbl th {border-bottom:2px solid #bca591;padding:8px 20px;text-align:left;font:16px Arial;color:#897562;vertical-align:top;}
			.tbl td {border-bottom:1px solid #e5e0df;padding:8px 20px;vertical-align:top;}
		.meta {zoom:1;font:12px Arial;margin:0 0 10px;}
		.meta:after {clear:both;content:'';display:block;}
			a.printLink {color:#7d6a56;padding:3px 0 3px 30px;background:url("../i/print-link.gif") no-repeat 0 0;font:12px Arial;}
			.meta a.printLink {float:right;}
			.content a.button {background:#624223 url("../i/button-content.png") repeat-x 0 0;font:13px Arial;color:#fff;display:inline-block;text-decoration:none;padding:5px 30px 6px;border:1px solid #fff;border-radius:4px;}
			.content a.button:hover {border-color:#c7c0ba;}
			.meta .button {margin:0 4px 0 0;}
			a.backLink {color:#7d6a56;padding:0 0 0 30px;background:url("../i/back-link.png") no-repeat 0 2px;font:12px Arial;}
			.meta a.backLink {margin:0 13px 0 0;float:right;}
		.newsPreview {margin:0 0 30px;padding:0 0 0 18px;color:#6e6e6e;font:13px Arial;overflow:hidden;}
			.newsPreview .head {border-bottom:2px solid #ede8e1;padding:0 0 4px 5px;font:11px Arial;margin:0 0 5px -18px;}
				.container .date {color:#87705c;font:11px Arial;margin:0 0 15px;}
				.container .newsPreview .date {margin:0;}
				.newsPreview .rubrics {margin:0 0 10px -13px;font:11px Arial;}
					.newsPreview .rubrics a {color:#cccbca;margin:0 10px 0 0;}
					.newsPreview .rubrics a:hover {color:#888;text-decoration:underline;}
			.newsPreview img {border:1px solid #dcd8d1;padding:5px;background:#eae5de;float:left;margin:0 20px 0 0;}
			.content .newsPreview p {margin:0;}
			.content .newsPreview h3 {font:18px Georgia;margin:0 0 10px;}
				.newsPreview h3 a {color:#543212;text-decoration:none;}
				.newsPreview h3 a:hover {text-decoration:underline;}
		ul.paging {background:url("../i/fade.png") no-repeat 50% 0;padding:40px 0 0;text-align:center;font:13px/22px Arial !important;zoom:1;}
			ul.paging li {display:inline;padding:0 2px !important;background:none !important;vertical-align:top;}
				ul.paging a {display:inline-block;width:23px;height:22px;background:url("../i/paging.png") no-repeat 0 0;text-decoration:none;color:#9c9790;}
				ul.paging a:hover, ul.paging li.current a {background-position:0 100%;color:#fff;}
				ul.paging li.prev a {overflow:hidden;font-size:0;text-indent:-1000px;text-align:left;background:url("../i/paging-arrows.png") no-repeat 50% 0;}
				ul.paging li.prev a:hover {background-position:50% -22px;}
				ul.paging li.next a {overflow:hidden;font-size:0;text-indent:-1000px;text-align:left;background:url("../i/paging-arrows.png") no-repeat 50% -44px;}
				ul.paging li.next a:hover {background-position:50% -66px;}
		.content .yearSelect {width:70px;height:21px;background:url("../i/year-select.png") no-repeat 0 0;position:relative;}
			.meta .yearSelect {float:right;}
			.meta .archiveTitle {float:right;margin:0 8px 0 0;color:#7d6a56;font:13px/20px Arial;}
			.content .yearSelect ul {margin:0;font:11px/19px Arial;position:absolute;top:21px;left:0;width:68px;}
			.content .yearSelect.activeSelect ul {border:1px solid #d5cfc8;border-top:0;background:#fff;}
				.content .yearSelect ul li {margin:0;padding:0;background:none;display:none;}
				.content .yearSelect.activeSelect ul li {display:block;}
				.content .yearSelect ul li.current {position:absolute;top:-20px;left:1px;display:block;width:68px;}
				.content .yearSelect.activeSelect ul li.current {left:0;}
					.content .yearSelect ul a {text-decoration:none;display:block;padding:0 6px 0 12px;}
					.content .yearSelect ul a:hover {background:#f6f1e8;}
					.content .yearSelect ul li.current a:hover {background:none;}
		.content .news {color:#6e6e6e;font:13px Arial;margin:0 0 30px;}
			.content .news h1 {font:24px Georgia;}
			.content .news p {margin:0 0 15px;}
		.content .contacts {margin:0 0 50px;font:14px/20px Arial;}
			.content .contacts p {margin:0;}
		.feedback {
			width:100%;
			max-width:501px;
			background:url("../i/fade.png") no-repeat 50% 0;
			margin:0 0 30px;
			padding:45px 0 0;
			font:12px Arial;
			color:#a29c95;
		}
			.feedback .caption {color:#7f6751;font:20px Georgia;margin:0 0 20px;}
			.feedback p {margin:0 0 15px 20px !important;}
			.feedback table {
				width:100%;
				margin:0 0 20px 20px;
				color:#7f6751;
				font:13px Arial;
			}
				.feedback th {padding:4px 12px 5px 0;text-align:left;font-weight:normal;vertical-align:top;}
				.feedback td {padding:0 0 5px;}
				.feedback tr.codeRow th {padding-top:24px;}
				.feedback tr.codeRow td {padding-top:20px;}
				.feedback .code {float:right;width:142px;color:#92969c;font:11px Arial;}
					.feedback .code img {display:block;margin:0 0 5px;}
				.content input[type="text"] {
					border:1px solid #dcd7d0;
					background:#ede8e1;
					font:13px Arial;
					color:#7f6751;
					padding:3px;
					width:100%;
					max-width:304px;
				}
				.content input.small {width:137px;}
				.content textarea {
					border:1px solid #dcd7d0;
					background:#ede8e1;
					font:13px Arial;
					color:#7f6751;
					padding:3px;
					width:100%;
					height:103px;
					max-width:304px;
				}
				.content input[type="text"]:focus, .content textarea:focus {background:#f6f0e9;}
				.content button {background:#624223 url("../i/button-content.png") repeat-x 0 0;font:13px Arial;color:#fff;display:inline-block;text-decoration:none;padding:5px 30px 6px;border-radius:4px;cursor:pointer;outline:none;border:0;overflow:visible;}
				.content button:hover {box-shadow:0 0 1px #87807a;}
.contentSearch {
	color:#a29c95;
	font:13px Arial;
	margin:0 0 25px;
}
.contentSearch *,
.contentSearch *:after,
.contentSearch *:before {
	outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.contentSearch fieldset {
	max-width:416px;
	position:relative;
	margin-bottom:25px;
	padding-right:101px;
}
.contentSearch fieldset:after {
	clear:both;
	content:"";
	display:block;
}

.contentSearch input[type="text"] {
	width:100%;
	display:block;
	max-width:none;
	padding:5px 4px 4px;
}

.contentSearch button {
	top:0px;
	right:0px;
	width:96px;
	margin:0px;
	position:absolute;
}
		
		.content ul.searchResults {margin:0 0 30px;background:url("../i/fade.png") no-repeat 50% 0;padding:45px 0 0;font:13px/20px Arial;}
			.content ul.searchResults li {margin:0 0 20px;background:none;padding:0;}
				.content ul.searchResults .caption {font:16px Arial;margin:0 0 4px;}
				.content ul.searchResults p {margin:0;}
		.persons {border-top:2px solid #ede8e1;font:13px/16px Arial;color:#6e6e6e;margin:25px 0;}
			.persons .person {border-bottom:2px solid #ede8e1;padding:16px 0 6px;overflow:hidden;}
				.persons .person p {margin:0 0 10px;}
				.persons .person h2 {color:#7f6751;font:22px Georgia;}
				.persons .person img {border:1px solid #dad5ce;background:#ece7e0;padding:6px;float:left;margin:0 18px 10px 0;vertical-align:top;}
				.persons .person.open img.previewImg {display:none;}
				.persons .person img.mainImg {display:none;}
				.persons .person.open img.mainImg {display:block;}
				.persons .person .hidden {display:none;}
				.persons .person.open .hidden {display:block;}
				.persons .more {font:11px Arial;margin:0 0 10px;}
				.persons .person.open .more {text-align:right;clear:both;}
					.persons .more a {color:#a19a93;text-decoration:none;padding:0 15px 0 0;}
					.persons .more a.moreLink {background:url("../i/person-more.png") no-repeat 100% 5px;}
					.persons .person.open .more a.moreLink {display:none;}
					.persons .more a.hideLink {background:url("../i/hide-link.png") no-repeat 100% 5px;display:none;}
					.persons .person.open .more a.hideLink {display:inline;}
					.persons .more a:hover {text-decoration:underline;}
.content404 {color:#494949;font:13px/18px Arial;padding:0 90px 70px;max-width:1100px;margin:0 auto;}
	.content404 h1 {font:52px Georgia;color:#44270c;margin:0 0 15px;}
	.content404 p {margin:0 0 18px;}
	.content404 .alert {color:#7f6751;padding:0 0 60px 20px;background:url("../i/fade.png") no-repeat 0 100%;margin:0 0 0 -20px;}
.contentMap {color:#494949;font:13px/18px Arial;padding:0 90px 70px;max-width:1100px;margin:0 auto;}
	.contentMap h1 {font:36px Georgia;color:#44270c;padding:0 0 70px 20px;margin:0 0 0 -20px;background:url("../i/fade.png") no-repeat 0 100%;}
	.sitemap {color:#494949;font:14px/20px Arial;margin:0 0 20px;}
		.sitemap ul {border-left:3px solid #ddd;margin:6px 0 6px 12px;padding:5px 0 5px 35px;}
			.sitemap a {color:#494949;}
			.sitemap ul ul {padding:5px 0 5px 25px;}

/* Footer */
.footer {border-top:4px solid #a19e9b;background:#e3e3e3;}
.footerIn {max-width:1230px;margin:0 auto;padding:0 25px;overflow:hidden;}
	.partnersBottom {width:100%;font:11px Arial;color:#83786e;}
		.partnersBottom td {padding:24px 10px 30px;text-align:center;}
		.partnersBottom td.caption {color:#8e8e8e;font:25px Arial;}
		.partnersBottom img {display:block;margin:0 auto 10px;}
	.copy {overflow:hidden;float:left;height:30px;color:#fff;font:11px Arial;padding:18px 0 0;}
		.copy li {float:left;padding:0 22px 0 11px;border-left:1px solid #b4ada7;margin-left:-12px;}
			.copy a {color:#b4ada7;text-decoration:none;}
			.copy a:hover {color:#fff;}
	.dev {float:right;height:30px;color:#ccc8c8;font:11px Arial;padding:18px 0 0;}
		.dev a {color:#ccc8c8;text-decoration:none;}
		.dev a:hover {color:#fff;}
		
/* Print version */
body.print {font:15px Arial;color:#000;background:#fff;padding:50px;}
	.print .header {height:160px;border-bottom:1px solid #000;margin:0 0 50px;max-width:auto;}
		.print .header .logoPrint {position:absolute;top:50px;left:0;}
		.print .header .url {float:right;}
			.print .header .url a {color:#000;}
	.print .content {padding:0 0 50px;}
	.print .content img.bordered {background:none;border:1px solid #000;}
	.print .content .date {font:13px Arial;margin:0 0 10px;}
	.print .content h1 {font:36px/40px Georgia;margin:0 0 15px;}
	.print .content h2 {font:26px/30px Georgia;margin:0 0 15px;}
	.print .content h3 {font:22px/26px Georgia;margin:0 0 15px;}
	.print .content h4 {font:bold 16px Arial;margin:0 0 10px;}
	.print .content p {margin:0 0 18px;}
	.print .content ol {margin:0 0 18px 30px;list-style:decimal;font:13px/18px Arial;}
		.print .content ol li {margin:0 0 4px;}
	.print .content ul {margin:0 0 18px 30px;font:13px/18px Arial;list-style:disc;}
		.print .content ul li {margin:0 0 4px;}
	.print .content blockquote {margin:0 0 30px;font:34px/40px "MinionProRegular", "Times New Roman";}
		.print .content blockquote p {display:inline;}
	.printDate {text-align:right;margin:50px 0 0;}
	.printFooter {border-top:1px solid #000;padding:40px 0 0 40px;font:14px Arial;overflow:hidden;}
		.printFooter li {float:left;padding:0 30px 10px 0;}


/*[=> Slick Version:1.3.15 <=]*/
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}.slick-list:focus{outline:none;}.slick-list.dragging{cursor:hand;}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}.slick-track{position:relative;top:0;left:0;display:block;}.slick-track:before,.slick-track:after{display:table;content:'';}.slick-track:after{clear:both;}.slick-slide{display:none;float:left;height:100%;min-height:1px;}[dir='rtl'] .slick-slide{float:right;}.slick-slide.slick-loading img{display:none;}.slick-slide.dragging img{pointer-events:none;}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}.slick-loading .slick-track,.slick-loading .slick-slide{visibility:hidden;}.slick-slide img,.slick-initialized .slick-slide{display:block;}
/*[=> Slick Version:1.3.15 <=]*/

/*[=> Select or die Version: 0.1.8 <=]*/
.sod_select,.sod_select *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}.sod_select{display:inline-block;position:relative;text-align:left;outline:0;outline-offset:-2px;cursor:default;}.sod_select.disabled{cursor:not-allowed;}.sod_select .sod_label{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}.sod_select .sod_list_wrapper{position:absolute;top:100%;left:0;display:none;height:auto;border-top:none;z-index:1;}.sod_select.open .sod_list_wrapper{display:block;}.sod_select.above .sod_list_wrapper{top:auto;bottom:100%;border-bottom:none;}.sod_select .sod_list{display:block;overflow-y:auto;margin:0;padding:0;}.sod_select .sod_option{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:relative;list-style-type:none;}.sod_select select{display:none!important;}.sod_select.touch select{-webkit-appearance:menulist-button;position:absolute;top:0;left:0;display:block!important;height:100%;width:100%;opacity:0;z-index:1;}.sod_select.disabled.open .sod_list_wrapper,.sod_select .sod_option.is-placeholder,.sod_select.no_highlight .sod_option.selected:before{display:none;}
/*[=> Select or die Version: 0.1.8 <=]*/



body {
	border-top:solid 4px #543212;
}
.wrapper {
	min-width:320px;
	background:url(../i/header-inside.jpg) 50% 4px no-repeat;
}
.header *,
.header *:after,
.header *:before,
.footer *,
.footer *:after,
.footer *:before,
.main-slider *,
.main-slider *:after,
.main-slider *:before {
	outline:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/*[=Header <]*/
.header {
	max-width:1280px;
	position:relative;
	margin:-4px auto 0px;
	padding:19px 15px 40px 15px;
}
.header:after {
	clear:both;
	content:"";
	display:block;
}

/*[Logo <]*/
.logo {
	float:left;
	z-index:100;
	width:388px;
	height:57px;
	display:block;
	overflow:hidden;
	position:relative;
	text-indent:-1000px;
	margin:-1px 0px -57px 15px;
	background:url(../i/logo.png) top left no-repeat;
	-webkit-background-size:auto 100%;
	-moz-background-size:auto 100%;
	-ms-background-size:auto 100%;
	-o-background-size:auto 100%;
	background-size:auto 100%;
}
/*[Logo >]*/

/*[Slogan <]*/
.header .slogan {
	z-index:10;
	color:#897562;
	text-align:right;
	position:relative;
	text-transform:uppercase;
	margin:94px 164px 0px 0px;
	font:46px/46px "MinionProRegular", "Times New Roman";
}
.header .slogan span {
	text-align:left;
	padding-bottom:8px;
	display:inline-block;
	border-bottom:solid 1px #bfb1a6;
}
/*[Slogan >]*/

/*[Controlls <]*/
.header .controlls {
	position:relative;
}
.header .controlls:after,
.header .controlls .box:after {
	clear:both;
	content:"";
	display:block;
}

/*[Lang <]*/
.header .lang {
	clear:both;
	z-index:10;
	float:right;
	color:#5b5b5b;
	overflow:hidden;
	margin-top:-14px;
	position:relative;
	background:#e8e4e2;
	font:12px/25px Arial;
}
.header .lang ul {
	float:left;
	margin:0px;
	padding:0px;
	display:block;
	list-style:none;
}
.header .lang ul li {
	float:left;
	margin:0px;
	cursor:default;
}
.header .lang .label {
	float:left;
	padding:0px 10px;
	font-weight:normal;
}
.header .lang ul li a,
.header .lang ul li span {
	color:#5b5b5b;
	display:block;
	padding:0px 10px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
}
.header .lang ul li span,
.header .lang ul li a:hover,
.header .lang ul li a:active {
	background:#fff;
}
/*[Lang >]*/

/*[Menu <]*/
.header .menu {
	clear:both;
	z-index:10;
	float:right;
	margin-top:11px;
	font:15px Arial;
	padding-left:1px;
	position:relative;
	background:#7f6751;
	letter-spacing:.5px;
}
.header .menu ul {
	margin:0px;
	padding:0px;
	display:block;
	list-style:none;
}
.header .menu ul li {
	margin:0px;
}
.header .menu:after {
	clear:both;
	content:"";
	display:block;
}

/*[First <]*/
.header .menu > ul > li {
	float:left;
	margin-left:-1px;
	background:url(../i/topmenu-sep.gif) 100% 9px no-repeat;
}
.header .menu > ul > li > a {
	color:#fff;
	display:block;
	padding:7px 10px;
	position:relative;
	text-decoration:none;
}
.header .menu > ul > li.open {
	background:#543212;
}
.header .menu > ul > li > a:hover,
.header .menu > ul > li > a:active,
.header .menu > ul > li > a.active {
	margin-top:-3px;
	background:#543212;
	padding:10px 10px 5px;
}
.header .menu > ul > li.open,
.header .menu > ul > li.open > a,
.header .menu > ul > li.open > a:hover,
.header .menu > ul > li.open > a:active,
.header .menu > ul > li.open > a.active {
	color:#fff;
	background:#543212;
	border-top-color:transparent;
}
/*[First >]*/

/*[Second <]*/
.header .menu ul li ul {
	display:none;
	padding-bottom:12px;
}
.header .menu ul li.open ul {
	display:block;
}
.header .menu ul li ul li a {
	color:#fff;
	display:block;
	font-size:17px;
	text-decoration:none;
	padding:10px 0px 10px 30px;
}
.header .menu ul li ul li a:before {
	content:"\2022";
	line-height:0px;
	margin-right:8px;
	display:inline-block;
	vertical-align:middle;
}
.header .menu ul li ul li a:hover,
.header .menu ul li ul li a:active,
.header .menu ul li ul li a.active {
	color:#d9b171;
}
/*[Second >]*/

/*[Menu >]*/

/*[Search <]*/
.header .search {
	clear:both;
	z-index:10;
	width:100%;
	float:right;
	height:42px;
	margin-top:8px;
	max-width:330px;
	padding:7px 8px;
	position:relative;
	background:#f5f3f3;
	border:solid 1px #d9d3ce;
}
.header .search button {
	top:10px;
	margin:0px;
	right:11px;
	width:23px;
	height:20px;
	padding:0px;
	border:none;
	outline:none;
	display:block;
	cursor:pointer;
	overflow:hidden;
	position:absolute;
	text-indent:-1000px;
	background:url(../i/search.png) -286px -3px no-repeat;
}
.header .search input[type="text"] {
	width:100%;
	margin:0px;
	color:#333;
	border:none;
	outline:none;
	padding:4px 5px;
	font:14px Arial;
	background:#eae4dc;
	border:solid 1px #d6d1c9;
	box-shadow:inset 0px 0px 8px rgba(0,0,0,.1);
}
/*[Search >]*/

/*[Trigger <]*/
.header .controlls .trigger {
	top:15px;
	right:15px;
	width:57px;
	z-index:50;
	height:57px;
	display:none;
	position:absolute;
	background:url(../i/elements/button/1-57x57-1.png) center no-repeat;
	-webkit-background-size:contain;
	-moz-background-size:contain;
	-ms-background-size:contain;
	-o-background-size:contain;
	background-size:contain;
}
.header .controlls.show .trigger {
	background-image:url(../i/elements/button/2-57x57-1.png);
}
/*[Trigger >]*/

/*[Controlls >]*/

/*[=Header >]*/

/*[=Footer <]*/

/*[Top <]*/
.footer .top {
	padding:30px 15px;
}

/*[Partners box <]*/
.partners-box {
	width:100%;
	display:table;
}
.partners-box .item {
	color:#83786e;
	font:11px Arial;
	padding:0px 10px;
	text-decoration:none;
}
.partners-box .item,
.partners-box .caption {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
.partners-box .caption {
	color:#8e8e8e;
	font:25px Arial;
	padding:24px 10px 30px;
}
.partners-box .item .image {
	width:100%;
	display:table;
	font-size:0px;
	line-height:0px;
	margin:0px 0px 10px;
}
.partners-box .item .image img {
	height:auto;
	max-width:100%;
}
.partners-box .item .image .box {
	display:table-cell;
	vertical-align:bottom;
}
/*[Partners box >]*/

/*[Top >]*/

/*[Mid <]*/
.footer .mid {
	color:#fff;
	padding:15px;
	display:none;
	font:11px Arial;
	background:#876f59;
}

/*[Social <]*/
.footer .social {
	color:#fff;
	font:11px Arial;
	overflow:hidden;
	text-align:center;
}
.footer .social a {
	width:35px;
	height:35px;
	margin-left:5px;
	display:inline-block;
	vertical-align:middle;
	background:center no-repeat;
}
.footer .social a.fb {
	background-image:url(../i/elements/ico/socials/1-35x35-1.png);
}
.footer .social .label {
	margin-right:5px;
	display:inline-block;
	vertical-align:middle;
}
/*[Social >]*/

/*[Mid >]*/

/*[Bot <]*/
.footer .bot {
	color:#fff;
	padding:15px;
	font:11px Arial;
	background:#5C4D3F;
}

/*[Menu <]*/
.footer .menu {
	float:left;
	padding-left:12px;
}
.footer .menu ul {
	margin:0px;
	padding:0px;
	font-size:0px;
	list-style:none;
	word-spacing:0px;
	letter-spacing:0px;
}
.footer .menu ul li {
	font:11px Arial;
	padding:0px 12px;
	vertical-align:top;
	word-spacing:normal;
	display:inline-block;
	letter-spacing:normal;
	border-left:solid 1px #b4ada7;
}
.footer .menu ul li a {
	color:#b4ada7;
	text-decoration:none;
}
.footer .menu ul li a:hover,
.footer .menu ul li a:active {
	color:#fff;
}
.footer .menu ul li:last-child {
	padding-right:0px;
}
/*[Menu >]*/

/*[Copyright <]*/
.footer .copyright {
	float:left;
}
/*[Copyright >]*/

/*[Developer <]*/
.footer .developer {
	color:#fff;
	float:right;
	font:11px Arial;
	overflow:hidden;
}
.footer .developer a {
	color:#ccc8c8;
	text-decoration:none;
}
.footer .developer a:hover,
.footer .developer a:active {
	color:#fff;
}
/*[Developer >]*/

/*[Bot >]*/

/*[Wrap <]*/
.footer .wrap {
	margin:0px auto;
	max-width:1230px;
}
.footer .wrap:after {
	clear:both;
	content:"";
	display:block;
}
/*[Wrap >]*/

/*[=Footer >]*/

/*[=Content <]*/

/*[Select <]*/
.sod_select {
	height:31px;
	cursor:pointer;
	font-size:12px;
	position:relative;
	background:#eae4dd;
	border:solid 1px #d4cec5;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.sod_select:after {
	top:0px;
	right:0px;
	content:"";
	width:30px;
	height:30px;
	position:absolute;
	background:url(../i/elements/arrow/1-bottom-10x6-1.png) center no-repeat; 
}
.sod_select .sod_label {
	height:30px;
	display:block;
	color:#634325;
	line-height:31px;
	padding:0px 35px 0px 10px;
}
.sod_select .sod_placeholder {
	color:#b3b3b3;
}
.sod_select .sod_list_wrapper {
	width:100%;
	background:#fff;
	border:solid 1px #d5cfc8;
}
.sod_select .sod_list_wrapper .sod_list {
}
.sod_select .sod_list_wrapper .sod_option {
	display:block;
	padding:5px 10px 4px;
}
.sod_select .sod_list_wrapper .is-placeholder {
	display:none;
}
.sod_select .sod_list_wrapper .sod_option:hover,
.sod_select .sod_list_wrapper .sod_option:active {
	background:#f6f1e8;
}
/*[Select >]*/

/*[News box <]*/
.news-box .item {
	color:#6e6e6e;
	font:13px Arial;
	overflow:hidden;
	padding-left:18px;
	margin-bottom:30px;
}
.news-box .item p {
	margin:10px 0px 0px;
}
.news-box .item .date {
	color:#87705c;
	font:11px Arial;
	padding:0px 0px 4px 5px;
	margin:0px 0px 5px -18px;
	border-bottom:solid 2px #ede8e1;
}

/*[Name <]*/
.news-box .name {
	color:#543212;
	display:block;
	font:18px Georgia;
	margin:0px 0px 10px;
	text-decoration:none;
}
.news-box .name:hover,
.news-box .name:active {
	text-decoration:underline;
}
/*[Name >]*/

/*[Image <]*/
.news-box .image {
	float:left;
	padding:5px;
	font-size:0px;
	line-height:0px;
	margin-right:20px;
	background:#eae5de;
	display:inline-block;
}
.news-box .image img {
	border:solid 1px #dcd8d1;
}
/*[Image >]*/

/*[Categories <]*/
.news-box .categories {
	font:11px Arial;
	margin:0px 0px 10px -13px;
}
.news-box .categories a {
	color:#cccbca;
	margin:0px 10px 0px 0px;
}
.news-box .categories a:hover,
.news-box .categories a:active {
	color:#888;
	text-decoration:underline;
}
/*[Categories >]*/

/*[News box >]*/

/*[Paginator <]*/
.paginator {
	zoom:1;
	cursor:default;
	text-align:center;
	padding:40px 0px 0px;
	font:13px/22px Arial !important;
	background:url(../i/fade.png) 50% 0px no-repeat;
}
.paginator a,
.paginator span {
	width:23px;
	height:22px;
	color:#9c9790;
	margin:0px 2px;
	line-height:22px;
	text-align:center;
	vertical-align:top;
	display:inline-block;
	text-decoration:none;
	background:url(../i/paging.png) no-repeat 0 0;
}
.paginator .prev,
.paginator .next {
	font-size:0px;
	overflow:hidden;
	text-align:left;
	text-indent:-1000px;
}
.paginator .prev {
	margin-left:0px;
	background:url(../i/paging-arrows.png) 50% 0px no-repeat;
}
.paginator .next {
	margin-right:0px;
	background:url(../i/paging-arrows.png) 50% -44px no-repeat;
}
.paginator a:hover,
.paginator a:active,
.paginator .current {
	color:#fff;
	background-position:0px 100%;
}
.paginator .prev:hover,
.paginator .prev:active {
	background-position:50% -22px;
}
.paginator .next:hover,
.paginator .next:active {
	background-position:50% -66px;
}
/*[Paginator >]*/

/*[Main slider <]*/
.main-slider {
	width:100%;
	display:block;
	overflow:hidden;
	position:relative;
	margin-top:-149px;
	padding-bottom:15px;
	background:url(../i/bg-top-index.png) center bottom repeat-x;
}
.main-slider .wrap {
	margin:0px auto;
	max-width:1280px;
}
.main-slider .slides {
	min-height:386px;
}

/*[Slide <]*/
.main-slider .slide {
	float:left;
	min-height:386px;
	position:relative;
}

/*[Item <]*/
.main-slider .item {
	border:none;
	display:block;
	text-decoration:none;
}

/*[Data <]*/
.main-slider .data {
	top:195px;
	right:164px;
	color:#494949;
	max-width:420px;
	position:absolute;
	font:19px MinionProRegular, "Times New Roman";
	-webkit-user-select:auto;
	-moz-user-select:auto;
	-ms-user-select:auto;
	-o-user-select:auto;
	user-select:auto;
}
.main-slider .data p {
	margin:20px 0px;
}
.main-slider .data ul {
	margin:0px 0px 15px;
}
.main-slider .data ul li {
	margin-top:3px;
}
.main-slider .data > :last-child {
	margin-bottom:0px;
}
.main-slider .data > :first-child,
.main-slider .data ul li:first-child {
	margin-top:0px;
}

/*[Button <]*/
.main-slider .button {
	color:#fff;
	outline:none;
	border-radius:4px;
	display:inline-block;
	text-decoration:none;
	border:solid 1px #fff;
	padding:4px 40px 3px 40px;
	font:25px/30px MinionProSemibold, "Times New Roman";
	background:#634324 url(../i/button-index.png) 0 0 repeat-x;
}
.main-slider .button:hover,
.main-slider .button:active {
	border-color:#c7c0ba;
}
/*[Button >]*/

/*[Data >]*/

/*[Image <]*/
.main-slider .image {
	width:100%;
	height:386px;
	display:table;
	font-size:0px;
	line-height:0px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.main-slider .image img {
	height:auto;
	display:block;
	max-width:100%;
	pointer-events:none;
}
.main-slider .image .box {
	display:table-cell;
	padding-left:113px;
	vertical-align:bottom;
}
/*[Image >]*/

/*[Item >]*/

/*[Slide >]*/

/*[Pagination <]*/
.main-slider .slick-dots {
	right:53%;
	z-index:9;
	margin:0px;
	width:515px;
	bottom:40px;
	padding:0px;
	font-size:0px;
	list-style:none;
	text-align:right;
	word-spacing:0px;
	position:absolute;
	letter-spacing:0px;
	margin-right:-515px;
}
.main-slider .slick-dots li {
	vertical-align:top;
	display:inline-block;
}
.main-slider .slick-dots button {
	width:13px;
	height:12px;
	padding:0px;
	border:none;
	outline:none;
	font-size:0px;
	display:block;
	cursor:pointer;
	margin:0px 2px;
	overflow:hidden;
	text-indent:-1000px;
	background:url(../i/slider-bullet.png) 0px 0px no-repeat;
}
.main-slider .slick-dots .slick-active button {
	background-position:0px -12px;
}
/*[Pagination >]*/

/*[Main slider >]*/

/*[Page options <]*/
.page-options {
	display:none;
	padding:15px 125px 15px 0px;
	position:relative;
	border-top:solid 2px #ede8e0;
}
.page-options:after {
	clear:both;
	content:"";
	display:block;
}
.page-options .year {
	top:15px;
	right:0px;
	width:112px;
	position:absolute;
}
.page-options .topic,
.page-options .topic .sod_list_wrapper {
	width:100%;
	min-width:165px;
}
/*[Page options >]*/

/*[=Content >]*/

/*[=> Adaptive <=]*/
@media (max-width:980px) {

.newsTitle {
	font-size:36px;
}
.shortNews {
	padding-left:0px;
}
.shortNews h4 {
	clear:both;
	font-size:16px;
	margin-top:10px;
}
.shortNews .date {
	top:auto;
	font-size:14px;
	position:relative;
	display:inline-block;
}
.archLinkWrap {
	font-size:16px;
	padding-top:20px;
}

.content .news {
	font-size:16px;
}
.footer .social {
	font-size:14px;
}


.persons {
	font-size:16px;
}
.persons .more {
	font-size:14px;
}

.news-box .item {
	font-size:16px;
}
.news-box .name {
	font-size:24px;
}
.news-box .categories {
	font-size:14px;
}















/*[Show <]*/
.footer .mid,
.page-options {
	display:block;
}
/*[Show >]*/

/*[Hide <]*/
.meta,
.container .sidebar,
.indexContainer .sidebar {
	display:none;
}
/*[Hide >]*/

/*[Header <]*/
.header {
	padding-bottom:15px;
}
.inside .header {
	height:57px;
}

/*[Logo <]*/
.header .logo {
	margin:-4px 0px -57px 0px;
}
/*[Logo >]*/

/*[Slogan <]*/
.header .slogan {
	text-align:center;
	margin:95px auto 25px;
}
/*[Slogan >]*/

/*[Controlls <]*/
.header .controlls {
	top:0px;
	left:0px;
	width:100%;
	position:absolute;
}
.header .controlls .box {
	top:87px;
	left:0px;
	width:100%;
	z-index:500;
	display:none;
	position:absolute;
	background:#897562;
	padding:0px 15px 15px;
}
.header .controlls.show .box {
	display:block;
}

/*[Lang <]*/
.header .lang {
	float:none;
	margin:0px -15px 30px;
}
.header .lang ul {
	float:none;
}
.header .lang ul li {
	width:50%;
	padding:0px;
}
.header .lang .label {
	display:none;
}
.header .lang ul li a,
.header .lang ul li span {
	height:25px;
	color:#8e8780;
	font-size:13px;
	line-height:25px;
	background:#c4bab1;
}
.header .lang ul li span,
.header .lang ul li a:hover,
.header .lang ul li a:active {
	color:#888;
	background:#fff;
}
/*[Lang >]*/

/*[Menu <]*/
.header .menu {
	float:none;
	background:none;
	padding-left:0px;
	margin:11px -15px 0px;
}
.header .menu:after {
	height:1px;
	content:"";
	display:block;
	margin:0px 15px;
	background:#91867c;
}
.header .menu > ul > li {
	float:none;
	background:none;
	margin-left:0px;
}
.header .menu > ul > li > a {
	font-size:20px;
	margin-top:-1px;
	padding:12px 15px;
	background:#897562;
}
.header .menu > ul > li:before {
	height:1px;
	content:"";
	z-index:10;
	display:block;
	margin:0px 15px;
	position:relative;
	background:#91867c;
}
.header .menu > ul > li > a:hover,
.header .menu > ul > li > a:active,
.header .menu > ul > li > a.active {
	color:#888;
	z-index:15;
	margin-top:-1px;
	background:#fff;
	padding:12px 15px;
}
.header .menu > ul > li.has-submenu > a:after {
	width:9px;
	content:"";
	height:10px;
	line-height:0px;
	margin-left:15px;
	display:inline-block;
	vertical-align:middle;
	background:url(../i/elements/arrow/2-bottom-9x10-1.png) center no-repeat;
}
.header .menu > ul > li.has-submenu.open > a:after {
	background-image:url(../i/elements/arrow/2-top-9x10-1.png);
}
/*[Menu >]*/

/*[Search <]*/
.header .search {
	float:none;
	margin:0px 0px 30px;
}
/*[Search >]*/

/*[Trigger <]*/
.header .controlls .trigger {
	display:block;
}
/*[Trigger >]*/

/*[Controlls >]*/

/*[Header >]*/

/*[Footer <]*/

/*[Partners box <]*/
.partners-box {
	display:block;
	font-size:0px;
	word-spacing:0px;
	letter-spacing:0px;
}
.partners-box .item {
	width:50%;
	font-size:11px;
	vertical-align:top;
	display:inline-block;
	padding:25px 10px 0px;
}
.partners-box .item,
.partners-box .caption {
	word-spacing:normal;
	letter-spacing:normal;
}
.partners-box .caption {
	padding:0px;
	display:block;
	font-size:25px;
	text-align:left;
}
.partners-box .item .image {
	height:125px;
}
/*[Partners box >]*/

/*[Footer >]*/

/*[Content <]*/

/*[News box <]*/
.news-box .image {
	float:none;
	margin:0px 0px 20px;
}
/*[News box >]*/

/*[Main slider <]*/
.main-slider {
	margin-top:0px;
}
.main-slider .data {
	top:auto;
	right:auto;
	max-width:480px;
	margin:0px auto;
	padding:0px 30px;
	position:relative;
}
.main-slider .image {
	left:50%;
	width:990px;
	margin-top:42px;
	position:relative;
	margin-left:-495px;
}
.main-slider .image img {
	margin:0px auto;
}
.main-slider .image .box {
	padding-left:0px;
}
.main-slider .slick-dots {
	left:0px;
	right:auto;
	width:100%;
	bottom:401px;
	margin-right:0px;
	text-align:center;
}
/*[Main slider >]*/

/*[Content >]*/

/*[Fix styles <]*/
body {
	border-color:transparent;
}
.wrapper {
	background-position:50% 0px;
}
.content404,
.contentMap {
	padding:30px 15px;
}
.container,
.indexContainer {
	background:#fff;
}
.container .content,
.indexContainer .content {
	margin:0px auto;
	padding:30px 15px 0px;
}
.indexContainer .contentOuter {
	float:none;
	margin-left:0px;
}

/*[Title <]*/
.container .content h1 {
	font-size:30px;
}
.container .content h3 {
	font-size:24px;
}
.container .content h2 {
	font-size:26px;
}
/*[Title >]*/

/*[Partners <]*/
.persons {
	margin-bottom:0px;
}
.persons .person h2 {
	clear:both;
	display:block;
}
/*[Partners >]*/

/*[Contacts <]*/
.feedback {
	margin:0px auto;
}
.feedback p {
	margin:15px 0px 0px 0px !important;
}
.feedback .code {
	float:none;
	margin:0px auto 5px;
}
.feedback table {
	margin:0px 0px 20px 0px;
}
.feedback .code + input[type="text"] {
	display:block;
	margin:0px auto;
}
/*[Contacts >]*/

/*[Fix styles >]*/

}

@media (max-width:640px) {

/*[Header <]*/

/*[Logo <]*/
.header .logo {
	top:-3px;
	margin:0px;
	width:225px;
	height:33px;
}
/*[Logo >]*/

/*[Controlls <]*/
.header .controlls .box {
	top:65px;
}
.header .controlls .trigger {
	width:35px;
	height:35px;
}
/*[Controlls >]*/

/*[Header >]*/

/*[Footer <]*/

/*[Top <]*/
.footer .top {
	padding:25px 15px;
}
.partners-box .caption {
	font-size:22px;
}
/*[Top >]*/

/*[Bot <]*/

/*[Menu <]*/
.footer .menu {
	float:none;
	padding-left:0px;
	text-align:center;
}
.footer .menu ul li:first-child {
	border-left:none;
	padding-left:0px;
}
/*[Menu >]*/

/*[Copyright <]*/
.footer .copyright {
	float:none;
	text-align:center;
	margin-bottom:5px;
}
/*[Copyright >]*/

/*[Developer <]*/
.footer .developer {
	display:none;
}
/*[Developer >]*/

/*[Bot >]*/

/*[Footer >]*/

/*[Fix styles <]*/
.imgl {
	float:none;
}
.shortNews {
	padding-left:0px;
}
.shortNews h4 {
	clear:both;
	margin-top:10px;
}
.shortNews .date {
	top:auto;
	position:relative;
	display:inline-block;
}
/*[Fix styles >]*/

}
/*[=> Adaptive <=]*/

